.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
}

.test {
  color: white;
  font-size: 50px;
}

.ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid red;
}

.r1 {
  top: 50px;
  left: 50px;
}

.r2 {
  top: 250px;
  left: 250px;
}

.r3 {
  top: 450px;
  left: 450px;
}

.r4 {
  top: 100px;
  right: 100px;
}

.r5 {
  bottom: 100px;
  left: 400px;
}
